.context-menu-panel {
  position: fixed;
  z-index: 999;
  min-width: 200px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgb(228 228 231);
  border-radius: 6px;
  box-shadow:
    rgb(0 0 0 / 0%) 0 0 0 0,
    rgb(0 0 0 / 0%) 0 0 0 0,
    rgb(0 0 0 / 10%) 0 4px 6px -1px,
    rgb(0 0 0 / 10%) 0 2px 4px -2px;
}

.context-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  color: rgb(9 9 11);
  font-size: 14px;
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  user-select: none;

  &:focus,
  &:hover {
    background-color: #f4f4f5;
  }
}
