.video-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
  }

  &:hover {
    .video-player-mask {
      display: flex;
    }
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgb(0 0 0 / 45%);
  }

  &-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 45%);
    }

    video {
      z-index: 1;
      max-width: 90%;
      max-height: 90%;
    }

    &-close {
      position: absolute;
      top: 60px;
      right: 60px;
      z-index: 1000;
      color: #fff;
      font-size: 30px;
      transform: translateX(-50%);
    }
  }
}
