.comment-confirm {
  position: absolute;
  z-index: 33;
  height: 32px;
  background-color: #fff;
  border: solid 1px $color-border;
  border-radius: 6px;
  box-shadow: rgb(31 35 41 / 10%) 0 4px 8px 0;
  transform: translate(-50%);
}
