@use './variable.scss' as *;

@font-face {
  font-weight: normal;
  font-family: byboat-symbol;
  font-style: normal;
  src: url('https://doc-res.byboat.cn/fonts/byboat-symbol.ttf') format('truetype');
}

$color-light-purple: #605cb0;

@mixin editor {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: byboat-symbol, 'Times New Roman', 'Microsoft Yahei', Arial, Helvetica, sans-serif;

  .section-dashed {
    display: block;
    margin: 4px 0;
    padding: 8px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .section-quote {
    margin: 4px 0;
    padding: 4px 8px;
    color: $color-light-purple;
    background-color: #f6f6f9;
    border-radius: 4px;
  }

  .section-title {
    display: inline-block;
    margin: 4px 0;
    padding: 0 4px;
    background: #f9debb;
  }

  .katex {
    display: inline-block;
    font-size: 1.1em;

    .katex-html {
      display: inline-block;
    }
  }

  [data-j-type='formula'] {
    display: inline-block;
    margin: 4px 0;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  u {
    white-space: break-spaces;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 2px;
  }

  wavy {
    text-underline-offset: 4px;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-underline-position: auto;
  }

  dot {
    position: relative;
    font-weight: inherit;
    font-style: normal;
    text-emphasis: dot #000;
    text-emphasis-position: under left;
  }

  table {
    max-width: 100%;
    // height: 20px;
    padding: 3px 10px;
    border: solid 1px #000;
    border-collapse: collapse;

    td,
    th {
      max-width: 100%;
      height: 20px;
      padding: 3px 10px;
      border: solid 1px #000;
      border-collapse: collapse;
    }
  }

  .background {
    display: inline-block;
    margin: 2px;
    padding: 0 4px;
    line-height: 1.5;
    text-indent: 0;
    border-radius: 4px;
  }

  .flag-color {
    color: orange;
    text-indent: 0;
  }

  .flag-option {
    display: inline-block;
    margin: 2px;
    padding: 0 4px;
    color: $color-light-purple;
    line-height: 1.5;
    text-indent: 0;
    background-color: #e9eaf3;
    border-radius: 4px;
  }

  .flag-list-item {
    color: blue;
    text-indent: 0;
  }

  [data-j-type='parenthesis'],
  [data-w-e-type='parenthesis'] {
    display: inline-block;
    color: blueviolet;
  }

  .w-e-textarea-question {
    margin: 4px 0;
    padding: 8px;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 4px;
  }

  .w-e-textarea-pageDivider,
  [data-w-e-type='pageDivider'],
  [data-j-type='pageDivider'] {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 1px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 4px;

    &::before {
      display: block;
      flex: 1;
      width: 100%;
      height: 1px;
      background-color: $color-border;
      content: '';
    }

    &::after {
      display: block;
      flex: 1;
      width: 100%;
      height: 1px;
      background-color: $color-border;
      content: '';
    }
  }

  .ordered-list-item {
    display: flex;
    align-items: baseline;
    margin: 15px 0;
    padding-left: 0;
    list-style: none;

    &-number {
      min-width: 18px;
      margin-right: 8px;
      padding: 0 2px;
      color: $color-warning;
      border-radius: 3px;
      cursor: pointer;
      user-select: none;
    }

    &-content {
      flex: 1;
      width: 0;
    }
  }

  span {
    text-indent: 0;
  }
}
