$color-primary: #f2a16b;
$color-info: #2d8cf0;
$color-success: #19be6b;
$color-warning: #f90;
$color-error: #f16543;
$color-title: #272e3b;
$color-content: #4e5969;
$color-sub: #86909c;
$color-icon: #ced0de;
$color-disabled: #d8dae5;
$color-border: #e1e6eb;
$color-background: #fafbff;
$color-page-background: #fafbff;
$color-white: #fff;
